<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{browserTitle}}</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../custom.css">
    <!-- JavaScript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js" type="text/javascript"></script>
    <script src="../js/adminEmployeeEdit.js"></script>
</head>

<body id="topOfPage">
<header class="navbar navbar-inverse navbar-fixed-top">
    <nav class="container">
        <div class="navbar-header">
            <!-- Logo -->
            <a href="#topOfPage" class="navbar-brand">{{navigationTitle}}</a>

            <!-- Small screen menu button -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Navigation elements -->
        <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
            <li><a href="/admin/employees">Medarbejdere</a></li>
            <li><a href="/admin/devices">Enheder</a></li>
            <li><a href="/admin/rented">Udlån</a></li>
            <li>
                <a href="/admin"><span class="glyphicon glyphicon-log-out"></span> Log ud</a>
            </li>
        </ul>

    </nav>
</header>
<section>
    <div class="container">
        <div class="login-container edit-container">
            <div id="outputT"></div>
            <div class="form-box">
                <form method="POST" enctype="multipart/form-data">
                    {{#if customImg}}
                    <img src="../../../images/employees/{{customImg}}" class="editImage">
                    {{else}}
                    <img src="../../../images/employees/silhouette.png" class="editImage">
                    {{/if}}
                    <br>
                    <label class="btn btn-default btn-file imageStick">
                        <i class="glyphicon glyphicon-picture"></i> Tilføj<input type="file" name="empImg" id="empImg">
                    </label>

                    <br><br>

                    <input type="text" name="empName" class="form-control" id="aUser" placeholder="Medarbejder navn" value="{{empName}}">
                    <input type="text" name="empTitle" class="form-control" id="aTitle" placeholder="Jobtitel" value="{{empTitle}}">
                    <input type="text" name="empPass" class="form-control" id="aPass" placeholder="Indianernavn" value="{{empPass}}">

                    {{#if newEmployee}}
                    <hr>
                    <label for="p">Udfyld KUN hvis medarbejder er admin:</label>
                    <input type="text" name="empAdmin" class="form-control" id="p" placeholder="Admin password">
                    {{/if}}

                    <button class="btn btn-info btn-block login" type="submit">Gem</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>