<div class="col-xs-12 col-lg-6 wellSpacing employee" id="{{id}}">
    <div class="row well selectableRow" data-oid="{{_id}}">
        <div class="col-xs-3 col-sm-2 col-lg-3">
            <img src="../images/employees/{{imageName}}" class="employeeImage">
        </div>
        <div class="col-xs-9 col-sm-10 col-lg-9">
            <span class="largerText">
                <b>Medarbejder</b> :<br>
                <span class="personInfo">{{name}}</span>
                <span class="secondaryInfo">(<span class="personInfo">{{indianName}}</span>)</span>
            </span>
        </div>
    </div>
</div>

