<div class="col-xs-12 col-lg-6 wellSpacing items">
    <div class="row well">
        <div class="col-xs-3 col-sm-2 col-lg-3">
            <img src="../../images/employees/{{imageName}}" class="employeeImage">
        </div>
        <div class="col-xs-9 col-sm-10 col-lg-9 customHeight">
            <span class="largerText">
                <b>Navn</b>: <span class="productInfo">{{userName}}</span><br>
                <b>Udlånsdato</b>: <span class="productInfo">{{lendingDate}}</span><br>
                {{#if returnDate}}
                    <b>Afleveringsdato</b>: <span class="productInfo">{{returnDate}}</span>
                {{/if}}

            </span>
        </div>
    </div>
</div>
