<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{browserTitle}}</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../custom.css">
    <!-- JavaScript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js" type="text/javascript"></script>
    <script src="../js/adminEmployeeHistory.js"></script>
</head>

<body id="topOfPage" data-oid="{{_id}}">

<!-- Confirmation DELETE modal-->
<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Slet medarbejder</h3>
            </div>
            <div class="modal-body">
                <p><b>ADVARSEL!</b> Denne handling kan <u>ikke</u> fortrydes!</p>
                <p>Hvis du vælger at slette medarbejderen vil alle de udlånsregistreringer som medarbejderen er registreret på også blive slettet</p>
                {{#if isAdmin}}
                    <p class="text-warning bg-warning text-center">Vær opmærksom på at denne bruger er administrator!</p>
                {{/if}}
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-default modalButtonDefault pull-left" data-dismiss="modal">Fortryd</button>
                <button type="button" id="confirmDelete" class="btn btn-danger modalButtonDefault modalButtonConfirm" data-dismiss="modal">Bekræft sletning</button>
            </div>
        </div>
    </div>
</div>
<!-- Confirmation RETURN modal-->
<div class="modal fade" id="deviceModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Aflever enhed</h4>
            </div>
            <div class="modal-body">
                <p id="deviceModalText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-default modalButtonDefault modalButtonCancel" data-dismiss="modal">Fortryd</button>
                <button type="button" id="confirmReturnButton" class="btn btn-default modalButtonDefault modalButtonConfirm" data-dismiss="modal">Bekræft</button>
            </div>
        </div>

    </div>
</div>

<header class="navbar navbar-inverse navbar-fixed-top">
    <nav class="container">
        <div class="navbar-header">
            <!-- Logo -->
            <a href="#topOfPage" class="navbar-brand">{{navigationTitle}}</a>

            <!-- Small screen menu button -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Navigation elements -->
        <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
            <li><a href="/admin/employees">Medarbejdere</a></li>
            <li><a href="/admin/devices">Enheder</a></li>
            <li><a href="/admin/rented">Udlån</a></li>
            <li>
                <a href="/admin"><i class="glyphicon glyphicon-log-out"></i> Log ud</a>
            </li>
        </ul>
    </nav>
</header>

<section>
    <!-- Title and buttons -->
    <div class="container">
        <div class="row">
            <div class="col-xs-7 col-sm-8">
                <h1>{{pageTitle}}</h1>
            </div>
            <div class="col-xs-5 col-sm-4">
                <button type="button" class="btn btn-danger pull-right title-button glyphHistoryBtn" id="deleteButton"><i class="glyphicon glyphicon-trash"></i> Slet</button>
                <button type="button" class="btn btn-default pull-right title-button glyphHistoryBtn" id="editButton"><i class="glyphicon glyphicon-edit"></i> Rediger</button>
            </div>
        </div>
    </div>

    <!-- Employee information -->
    <div class="container wellSpacing">
        <div class="row well">
            <div class="col-xs-12 col-sm-3 col-lg-2">
                {{#if imageName}}
                    <img src="../../../images/employees/{{imageName}}" class="editImage">
                {{else}}
                    <img src="../../../images/employees/silhouette.png" class="editImage">
                {{/if}}
            </div>
            <div class="col-xs-12 col-sm-9 col-lg-10">
                <span class="largerText">
                    <b>Navn</b>: {{empName}}<br>
                    <b>Jobtitel</b>: {{empTitle}}<br>
                    <b>Indianernavn</b>: {{indianName}}<br>
                    <b>Administrator</b>: {{adminStatus}}
                </span>
            </div>
        </div>
    </div>

    <div class="container wellSpacing">
        <div class="row">
            <div class="col-xs-8">
                <h1>Udlånsregistreringer</h1>
            </div>
            <div class="col-xs-4">
                <span class="pull-right" id="pageInfo">Viser side <b><span id="currentPage"></span></b> ud af <b><span id="totalPages"></span></b></span>
            </div>
        </div>
    </div>

    <div class="container" id="lendingRegistrations">
        <!-- Lending Registrations added here -->
    </div>

    <div class="container wellSpacing">
        <div class="bs-example">
            <ul class="pagination pagination-lg" id="employeePager">
                <!-- Multiple pages possibly added here -->
            </ul>
        </div>
    </div>
</section>
</body>
</html>