<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{browserTitle}}</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../custom.css">
    <!-- JavaScript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js" type="text/javascript"></script>
    <script src="js/deviceAdmin.js"></script>
</head>

<body id="topOfPage">
<!-- Confirmation modal-->
<div class="modal fade" id="deviceModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Udlån</h3>
            </div>
            <div class="modal-body">
                <p id="modalText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="modalCancel" class="btn btn-default modalButtonDefault modalButtonCancel" data-dismiss="modal">Fortryd</button>
                <button type="button" id="modalDelete" class="btn btn-default modalButtonDefault modalButtonConfirm" data-dismiss="modal">Bekræft</button>
            </div>
        </div>

    </div>
</div>
<header class="navbar navbar-inverse navbar-fixed-top">
    <nav class="container">
        <div class="navbar-header">
            <!-- Logo -->
            <a href="#topOfPage" class="navbar-brand">{{navigationTitle}}</a>

            <!-- Small screen menu button -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>


        <!-- Navigation elements -->
        <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
            <li><a href="/admin/employees">Medarbejdere</a></li>
            <li><a href="/admin/devices">Enheder</a></li>
            <li><a href="/admin/rented">Udlån</a></li>
            <li>
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Søg" name="q" oninput="searchList(this.value)">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="removeFocus()"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <a href="/admin"><span class="glyphicon glyphicon-log-out"></span> Log ud</a>
            </li>
        </ul>

    </nav>
</header>

<section>
    <div class="container wellSpacing">
        <div class="row">
            <div class="col-xs-10">
                <h1>{{pageTitle}}</h1>
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-default pull-right title-button" id="addButton"><i class="icon-mobile icon-text-align"></i> Tilføj</button>
            </div>
        </div>
    </div>
    <div id="deviceAdmin" class="container">
        <!-- Devices added here -->
    </div>
</section>

</body>
</html>