<div class="col-xs-12 col-lg-6 wellSpacing items" data-lroid="{{lrOID}}">
    <div class="row well">
        <div class="col-xs-3 col-sm-2 col-lg-3">
            <img src="../../images/{{imageName}}" class="employeeImage">
            {{#unless rDate}}
                <button class="btn btn-default customBtn inListBtn inListBtnCenter" data-deviceoid="{{deviceOID}}" data-deviceid="{{deviceID}}">Aflever</button>
            {{/unless}}
        </div>
        <div class="col-xs-9 col-sm-10 col-lg-9">
            <span class="largerText">
                <b>ID</b>: {{deviceID}}<br>
                <b>Type</b>: {{deviceType}}
                {{#if telephoneNumber}}
                    <span class="secondaryInfo"> ({{telephoneNumber}})</span>
                {{/if}}
                <br><br>
                <b>Udlånsdato</b>: {{lDate}}<br>
                <b>Afleveringsdato</b>:
                {{#if rDate}}
                    {{rDate}}
                {{else}}
                    <span id="rDateMissing">-</span>
                {{/if}}
            </span>
        </div>
    </div>
</div>
