<div class="col-xs-12 col-lg-6 wellSpacing items" id="{{id}}";>
    <div class="row well selectableRow" data-oid="{{_id}}">
        <div class="col-xs-3 col-sm-2 col-lg-3">
            <img src="../images/{{imageName}}" class="deviceImage">

        </div>
        <div class="col-xs-9 col-sm-10 col-lg-9">
            <span class="largerText">
                <b class="spacedText">ID</b>: <span class="deviceInfo">{{id}}</span>
                <br>
                <b class="spacedText">Type</b>: <span class="deviceInfo">{{type}}</span>
            </span>
        </div>
    </div>
</div>

