<div class="col-xs-12 col-lg-6 wellSpacing items" id="{{rowID}}";><!--Just need a unique number here for sorting.-->
    <div class="row well">
        <div class="col-xs-3 col-sm-2 col-lg-3">
            <img src="../images/{{imageName}}" class="deviceImage">
            <button class="btn btn-default customBtn inListBtn inListBtnCenter" data-deviceoid="{{deviceOID}}" data-deviceid="{{id}}">Aflever</button>
        </div>
        <div class="col-xs-9 col-sm-10 col-lg-9">
            <span class="largerText">
                <b>Navn</b>: <span class="rentInfo">{{name}}</span><br>
                <b>ID</b>: <span class="rentInfo">{{id}}</span><br>
                {{#if  telephoneNumber}}
                    <b>Telefonnummer</b>: <span class="rentInfo">{{telephoneNumber}}</span><br>
                {{else}}
                    <b>Type</b>: <span class="rentInfo">{{type}}</span>
                {{/if}}
            </span>
        </div>
    </div>
</div>

