body {
    background: #eee url(/images/css/bg.png);
    padding-top: 70px;
}

/* Styles specific to the device list */
.deviceImage {
    width: 60px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#imageDiv {
    margin-top: 8px;
}

.employeeImage {
    width: 95px;
    height: 95px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.createEmployee{
    width:30px;
    margin-top: 1%;
}
.createEmployee:hover{
    cursor: pointer;
}

.wellSpacing {
    padding-left: 20px;
    padding-right: 20px;
}

.spacedText {
    margin-left: 40px;
}
.largerText {
    font-size: 20px;
}
.well {
    border: 1px solid #cccccc;
}

.customHeight {
    height: 125px;
}

.customBtn{
    height: 100px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top:15px;
}

.inListBtn{
    height: auto;
    margin: 7px 0 0;
    background-color: #FFFFFF;
}
.inListBtnAdd{
    margin-top: 16px;
    margin-left: 16px;
}
.inListBtnCenter{
    margin: 3px 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.glyphHistoryBtn{
    margin:5px;
    width:100px;
}

.editGlyph{
    margin:1.3%;
    transition: all .2s ease-in-out;
    font-size: 35px;

}
.editGlyph:hover{
    transform: scale(1.2);
    cursor: pointer;
}


.passEdit{
    padding-top:80px;
}

.form-group{
    width: 50%;
}


.modalButtonDefault {
    font-size: 20px;
    padding: 20px;
}
.modalButtonConfirm {
    font-weight: bold;
}
.modalButtonCancel {
    float: left;
}
.modalButtonCancel:hover {
    color: #FFFFFF;
    background: #FF0000;
}
.modal-body {
    font-size: 20px;
}



.selectableRow:hover {
    background-color: #D8F6CE;
    border-color: #585858;
    cursor: pointer;
}
.deviceRowSelected {
    background-color: #BEF781;
}
.deviceRowSelected:hover {
    background-color: #BEF781;
}
.returnBTNSelected {
    background-color: #e6e6e6;
}
.returnBTNSelected:hover {
    background-color: #999999;
}

.container-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.secondaryInfo {
    color: darkgray;
}


/* - - - - - */
/* LOGIN CSS */
/* - - - - - */
.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 40px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
    -ms-transform: rotateZ(-2deg);

}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px;
}
.form-box input[type="password"]{
    border-radius: 5px;
}
#aUser, #aId{
    border-radius: 5px 5px 0 0;
}
#aTitle{
    border-radius: 0;
}
#aPass, #aSerialNumber{
    border-radius: 0 0 5px 5px;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

/* - - - - - - - - - - - */
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}


/* - - - - - */
/* USER ICON */
/* - - - - - */
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?owsad0');
    src:  url('fonts/icomoon.eot?owsad0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?owsad0') format('truetype'),
    url('fonts/icomoon.woff?owsad0') format('woff'),
    url('fonts/icomoon.svg?owsad0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mobile:before {
    content: "\e958";
}
.icon-tablet:before {
    content: "\e95a";
}
.icon-user-plus:before {
    content: "\e973";
}
.icon-user-minus:before {
    content: "\e974";
}





.title-button {
    margin-top: 20px;
}
.icon-text-align {
    margin-top: 20px;
}

.edit-container{
    width: 400px;
}

.editImage{
    border: 1px solid #000;
    width: 150px;
}
#empImg {
    display: none;
}
.imageStick {
    border-radius: 0 0 5px 5px;
}


#outputT{
    position: fixed;
    width: 400px;
    top: 75px;
    color: #fff;
    z-index: 10;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;

}
#outputT.alert-success{
    background: rgb(25, 204, 25);
}
#outputT.alert-danger{
    background: rgb(228, 105, 105);
}

#pager li a {
    width:50px;
    max-width:50px;
    text-align: center;
    cursor:pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

#employeePager li a {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

#pageInfo {
    margin-top: 40px;
}

@media (min-width: 1200px) {
    .phoneBookImage {
        width: 120px;
        height: 120px;
    }
}