<div class="col-xs-12 col-lg-6 wellSpacing items" id="{{deviceID}}">
    <div class="row well selectableRow">
        <div class="col-xs-3 col-sm-2 col-lg-3">
            <img src="images/{{imageName}}.png" class="deviceImage">
        </div>
        <div class="col-xs-9 col-sm-10 col-lg-9">
            <span class="largerText">
                <b>Type</b>: <span class="productInfo">{{deviceType}}</span><br>
                <!-- ignores this line of HTML if the phone number doesn't exist -->
                {{#if telephoneNumber}}
                <b>Telefonnummer</b>: <span class="productInfo">{{telephoneNumber}}</span><br>
                {{/if}}
                <b>ID</b>: <span class="productInfo">{{deviceID}}</span>
            </span>
        </div>
    </div>
</div>