<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{browserTitle}}</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="custom.css">
    <!-- JavaScript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js" type="text/javascript"></script>
    <script src="js/employeeList.js"></script>
</head>

<body id="topOfPage">
<header class="navbar navbar-inverse navbar-fixed-top">
    <nav class="container">
        <div class="navbar-header">
            <!-- Logo -->
            <a href="#topOfPage" class="navbar-brand">{{navigationTitle}}</a>

            <!-- Small screen menu button -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Navigation elements -->
        <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
            <li>
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Søg" name="searchForm" id="searchInput"oninput="searchListPeople(this.value)">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="removeFocus()"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </li>
            <li>
                <a href="/"><span class="glyphicon glyphicon-log-out"></span> Log ud</a>
            </li>
        </ul>
    </nav>
</header>
<section>
    <div class="container">
        <h1>{{pageTitle}}</h1>
    </div>
    <div class="container" id="employees">
        <!-- Employees added here -->
    </div>
</section>
</body>
</html>