<div class="col-xs-12 col-lg-6 wellSpacing employee" id="{{id}}";>
    <div class="row well">
        <div class="col-xs-12 col-sm-2 col-lg-3">
            <img src="images/employees/{{imageName}}" class="employeeImage phoneBookImage">
        </div>
        <div class="col-xs-12 col-sm-10 col-lg-9">
            <span class="largerText">
                <b>Navn</b>: <span class="personInfo">{{name}}</span><br>
                <b>Jobtitel</b>: <span class="personInfo">{{title}}</span><br>
                <b>Telefonnummer</b>: <a href="tel:{{phoneNumber}}"><span class="personInfo">{{phoneNumber}}</span></a>
            </span>
        </div>
    </div>
</div>