<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{browserTitle}}</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="custom.css">
    <!-- JavaScript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js" type="text/javascript"></script>
    <script src="js/login.js"></script>
</head>
<body>
    <header class="navbar navbar-inverse navbar-fixed-top">
        <nav class="container">
            <div class="navbar-header">
                <!-- Logo -->
                <a href={{navigationLink}} class="navbar-brand">{{navigationTitle}}</a>
            </div>
        </nav>
    </header>
    <section>
        <div class="container">
            <div class="login-container">
                <div id="output"></div>
                <div class="form-box">
                    <form action="" method="">
                        <input id="user" name="user" type="password" placeholder="Indianernavn" autofocus>
                        <button class="btn btn-info btn-block login" type="submit">Log ind</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>