<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{browserTitle}}</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="custom.css">
    <!-- JavaScript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js" type="text/javascript"></script>
    <script src="js/deviceListReturn.js"></script>
</head>
<body id="topOfPage">
    <!-- Confirmation modal-->
    <div class="modal fade" id="deviceModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Aflever enhed</h4>
                </div>
                <div class="modal-body">
                    <p id="modalText"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default modalButtonDefault modalButtonCancel" data-dismiss="modal">Fortryd</button>
                    <button type="button" id="confirmButton" class="btn btn-default modalButtonDefault modalButtonConfirm" data-dismiss="modal">Bekræft</button>
                </div>
            </div>

        </div>
    </div>

    <header class="navbar navbar-inverse navbar-fixed-top">
        <nav class="container">
            <div class="navbar-header">
                <!-- Logo -->
                <a href="#topOfPage" class="navbar-brand">{{navigationTitle}}</a>
            </div>

            <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
                <li>
                    <a href="/lendingLogin"><span class="glyphicon glyphicon-log-out"></span> Log ud</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="container">
            <h1>{{pageTitle}}</h1>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <button type="button" class="col-xs-12 btn btn-default customBtn" id="rentMore">Lån ekstra enhed</button>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <button type="button" class="col-xs-12 btn btn-default customBtn" id="returnAll">Aflever alt</button>
                </div>
            </div>
        </div>

        <div class="container" id="devicesReturn">
            <!-- Devices added here -->
        </div>
    </section>
</body>
</html>